@import 'typography';

:root {
  // --narrow-container-width: 1100px;
  // --default-container-width: 1100px;
  --custom-main-font: 'metropolis';
}

.logo-nav-wrapper .logo img {
  height: 100px;
}

#footer .footer .logo {
  margin: 0 0 10px 0;
}

#footer .footer .footer-branding a {
  font-size: 14px;
}
